<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Search Parallel Suite" verbose="2" parallel="methods">
    <test name="Cucumber Tests" parallel="methods" thread-count="5">
        <classes>
            <class name="runner.TestRunner" />
        </classes>
    </test>
</suite>